<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>


    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="/assets/css/book_style.css">

</head>

<body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed" style="position:fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                {{!-- <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                    aria-label="Open navigation menu">menu</button> --}}
                <span class="mdc-top-app-bar__title">Bookshelf</span>
            </section>

            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <div class="mdc-switch mdc-switch--disabled">
                    <div class="mdc-switch__track"></div>
                    <div class="mdc-switch__thumb-underlay">
                        <div class="mdc-switch__thumb"></div>
                        <input type="checkbox" id="another-basic-switch" class="mdc-switch__native-control"
                            role="switch" aria-checked="false" disabled>
                    </div>
                </div>

                <label for="another-basic-switch">Dark Mode</label>

                {{!-- <div class="mdc-text-field mdc-text-field--outlined" id="inputText">
                <input class="mdc-text-field__input booksearch" id="text-field-hero-input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                    <label for="text-field-hero-input" class="mdc-floating-label">Search Book</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
                </div>

                 <button class="searchbutton material-icons mdc-top-app-bar__action-item mdc-icon-button"
                    aria-label="Search">search</button>

                <button class="wishlist-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                    aria-label="Wishlist">star</button>
               
                <button class="profile-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                    aria-label="Account Circle">account_circle</button> --}}

            </section>
        </div>
    </header>
    
    {{{ body }}}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/assets/js/homepage.js"></script>
        <script src="/assets/js/books.js"></script>
        <script src="/assets/js/navbar.js"></script>

</body>

</html>