<div class="mdc-data-table table2" style="width:50%; margin-left:25%; margin-right:25%">
    <table class="mdc-data-table__table" aria-label="completed books">
        <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Title</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Author</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Update Read Status</th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content">
            <h3>filler</h3>
            <h2 style="text-align:center">Completed Books</h2>
            {{#each Book }}
            {{#if dataValues.have_read }}  
            <tr class="mdc-data-table__row">
                <td class="mdc-data-table__cell">{{dataValues.title}}</td>
                <td class="mdc-data-table__cell">{{dataValues.author}}</td>
                <td class="mdc-data-table__cell"><button type="button" class="update-unread-btn" 
                data-id="{{dataValues.id}}" data-readstatus="{{unread}}">Haven't Read Yet!</button></td>   
            </tr>
            {{/if}}
            {{/each }}
        </tbody>
    </table>
</div>