<header class="mdc-top-app-bar mdc-top-app-bar--fixed" style="position:fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            {{!-- <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                    aria-label="Open navigation menu">menu</button> --}}
            <span><img
                    src="https://www.pinclipart.com/picdir/middle/273-2734486_book-icon-creative-commons-png-download-clipart.png"
                    style="width:50px; height:auto"></span>

            <span class="mdc-top-app-bar__title title-click" title="Home">Bookshelf</span>
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button class="theme-nav material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Theme"
                title="Dark Mode">brightness_2</button>

            <button class="wishlist-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Wishlist" title="Book Wishlist">star</button>

            <button class="profile-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Account Circle" title="Completed Books">account_circle</button>

            <button class="signout-nav material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Signout"
                title="Logout">home</button>

        </section>
    </div>
</header>

<div class="section">
    <div class="mdc-data-table" id="table2" style="width:75%; margin-left:11%; margin-right:10%">
        <table class="mdc-data-table__table" aria-label="completed books">
            <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Title</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Author</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Update Read Status</th>
                </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                <h3>filler</h3>
                <h2 style="text-align:center">Completed Books</h2>
                {{#each Book }}
                {{#if dataValues.have_read }}
                <tr class="mdc-data-table__row">
                    <td class="mdc-data-table__cell">{{dataValues.title}}</td>
                    <td class="mdc-data-table__cell">{{dataValues.author}}</td>
                    <td class="mdc-data-table__cell"><button type="button"
                            class="update-unread-btn mdc-fab mdc-fab--extended" data-id="{{dataValues.id}}"
                            data-readstatus="{{unread}}">
                            <div class="mdc-fab__ripple"></div>
                            <span class="material-icons mdc-fab__icon">star</span>
                            Haven't Read Yet!
                        </button></td>
                </tr>
                {{/if}}
                {{/each }}
            </tbody>
        </table>
    </div>
</div>