<header class="mdc-top-app-bar mdc-top-app-bar--fixed" style="position:fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            {{!-- <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                    aria-label="Open navigation menu">menu</button> --}}
            <span class="mdc-top-app-bar__title title-click" title="Home">Bookshelf</span>
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <div class="mdc-text-field mdc-text-field--outlined" id="inputText">
                <input class="mdc-text-field__input booksearch" id="text-field-hero-input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="text-field-hero-input" class="mdc-floating-label">Search Book</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <button class="searchbutton material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Search" title="Click to Search">search</button>

            <button class="theme-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Theme" title="Dark Mode">brightness_2</button>

            <button class="wishlist-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Wishlist" title="Book Wishlist">star</button>

            <button class="profile-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Account Circle" title="Completed Books">account_circle</button>

            <button class="signout-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Signout" title="Logout">home</button>

        </section>
    </div>
</header>
<div class="mdc-layout-grid">

    <h3>Filler</h3>
    <h2 style="text-align: center">Search Results</h2>

</div>