{{!-- <div class="container-tables"> --}}
<header class="mdc-top-app-bar mdc-top-app-bar--fixed" style="position:fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            {{!-- <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                    aria-label="Open navigation menu">menu</button> --}}
            <span class="mdc-top-app-bar__title title-click">Bookshelf</span>
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button class="theme-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Theme">brightness_2</button>

            <button class="wishlist-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Wishlist">star</button>

            <button class="profile-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Account Circle">account_circle</button>

            <button class="signout-nav material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Signout">home</button>

        </section>
    </div>
</header>

<div id="wishlist-section">
    <div class="mdc-data-table" id="table1" style="width:75%; margin-left:11%; margin-right:10%">
        <table class="mdc-data-table__table" aria-label="wishlist books">
            <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Title</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Author</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Update Read Status</th>
                </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                <h3>Filler</h3>
                <h2 class="" style="text-align:center">Wishlist</h2>
                {{#each Book }}
                {{#unless dataValues.have_read}}
                <tr class="mdc-data-table__row">
                    <td class="mdc-data-table__cell">{{dataValues.title}}</td>
                    <td class="mdc-data-table__cell">{{dataValues.author}}</td>
                    <td class="mdc-data-table__cell">
                        <button type="button" class="update-read-btn mdc-fab mdc-fab--extended"
                            data-id="{{dataValues.id}}" data-readstatus="{{read}}">
                            <div class="mdc-fab__ripple"></div>
                            <span class="material-icons mdc-fab__icon">bookmark</span>
                            I Read it!
                        </button></td>
                </tr>
                {{/unless}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>