
<button class="read-btn material-icons mdc-icon-button mdc-card__action mdc-card__action--icon"
    aria-label="Mark as Read" data-id="{{this.index}}">bookmark_border</button>
<button class="wishlist-btn material-icons mdc-icon-button mdc-card__action mdc-card__action--icon"
    aria-label="Wishlist" data-id="{{this.index}}">star_border</button>
