body {
    background-color: #E0E0E0;
    /* background-color: #121212; */
    margin: auto; 
    font-family: 'Roboto', sans-serif;
    color: black;
    /* magin auto is necessary for keeping data tables in center */
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode-card {
    background-color: #222222;
}


.header-div {
    position: relative;
}

#signin-error-message {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: red;
}


.mdc-text-field {
    background-color: white;
}

/* .mdc-data-table {
    /* margin-top: 5em; */
    /* padding: 0px 50px; 
    
} */ 


#sign-form{
    padding-top: 10%;
}

#inputText{
    background-color: rgb(228, 203, 235);
    margin-left: 5px;
}

.newCard{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    /* border-style: solid;
    border-color: rgb(37, 7, 46); */
}

.attributes{
    margin: 5px;
}

p{
    font-size: smaller;
}

h2 {
    font-family:'Roboto', sans-serif;
}
